body { margin: 0; background-color: #1a052d; font-family: sans-serif; }

.overlay {
    position: fixed;
    top: 0;
     left: 0;
      width: 100%; 
      height: 100%;
    display: flex; 
    justify-content: center;
     align-items: center;
}

.card {
    background-color: #6d6d6d;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    color: #000;
}

.header { text-align:center;
     text-decoration: underline; 
     margin-bottom: 20px; }

.flex { display: flex; 
    gap: 20px; }

.poster { width: 180px; 
    border-radius: 5px; }

.info p { font-weight: bold;
     margin: 5px 0; }

.info span { 
    font-weight: normal; }

.sinopse { font-size: 14px;
     margin: 20px 0;
      line-height: 1.4; }

.btn-v { 
    display: block;
     width: 150px;
      margin: auto; 
      padding: 10px; 
    background: #48335a;
     color: white; 
     border-radius: 20px; 
    text-align: center;
     text-decoration: none; 
     font-weight: bold; 
}