body {
    margin: 0;
    background-color: #2a0848;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #6d6d6d;
    padding: 30px 40px;
    border-radius: 40px;
    width: 380px;
    text-align: center;
}

.input-grupo {
    text-align: left;
    margin-bottom: 12px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
}

.botao {
    background-color: #48335a;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
}

p {
    font-size: 13px;
    margin-top: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}