body { margin: 0;
     background-color: #2a0848; 
     font-family: sans-serif; }

.overlay {
    position: fixed;
    top: 0; 
    left: 0;
     width: 100%; 
     height: 100%;
    display: flex;
     justify-content: center; 
     align-items: center;
}

.card {
    background-color: #6d6d6d;
    padding: 30px;
    border-radius: 40px;
    width: 400px;
    text-align: center;
}

img { width: 160px; 
    border-radius: 10px; }

h2 { text-decoration: underline;
     margin: 15px 0; 
     color: #000; }

.campo { text-align: left; 
    margin-top: 15px; }

label { display: block;
     font-weight: bold;
      margin-bottom: 5px; }

#nota {
    width: 80px;
     padding: 10px;
      border-radius: 20px;
    border: none; 
    text-align: center; 
    font-size: 16px;
}

textarea {
    width: 100%;
     height: 100px;
      border-radius: 20px;
    border: none;
     background: #d3d3d3;
      padding: 15px;
    box-sizing: border-box; 
    resize: none;
}

#btnSalvar {
    background-color: #48335a;
    color: white;
     border: none;
    padding: 12px 50px;
     border-radius: 25px;
    cursor: pointer;
     font-weight: bold;
      margin-top: 20px;
}